@use "global" as *;


.drawer {
    position: fixed;
    display: none;
    padding:0 0 rem(10) ;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $lightblue;
    z-index: 1000;
    overflow-y: auto;
}

.drawer__inner {
    position: fixed;
    background-color: $lightblue;
    padding-right: rem(15);
    padding-left: rem(15);
    display: flex;
    justify-content: space-between;
    height: rem(80);
    width: 100%;
    z-index: 1000;
}

.drawer__logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 5000;
    overflow: hidden;
}


.drawer__logo img{
    max-width: rem(100);
    @include mq("md") {
        max-width: rem(133);
    }
}

.drawer__logo a {
    padding-top: rem(25);
    padding-bottom: rem(21);
}

.drawer__nav-inner {
    position: relative;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    padding-right: rem(15);
    padding-left: rem(15);
}