@use "global" as *;


.footer {
    background-color: $lightblue;
    margin-top: rem(80);
    padding-bottom: rem(55);
    @include mq("md") {
        margin-top: rem(150);
        padding-bottom: rem(80);
    }
}

.footer__menu-inner {
    @include mq("md") {
        max-width: rem(1200);
    }
}



.footer__menu-logo-container {
    padding-top: rem(40);
    display: block;
    @include mq("md") {
        padding-top: rem(100);
        display: flex;
        justify-content: left;
    }
}

.footer__menu-logo {
    @include mq("md") {
        margin-left: rem(40);
    }
}

.footer__menu-logo.menu-logo img {
    max-width: rem(120);
    @include mq("md") {
        max-width: rem(400);
    }
}

.footer__menu-sns-button-items {
    display: flex;
    margin-top: rem(10);
    @include mq("md") {
        margin-left: rem(40);
        align-items: flex-end;
    }
}

.footer__menu-sns-button-item {
    width: rem(24);
    height: rem(24);
    @include mq("md") {
        width: rem(32);
        height: rem(32);

    }
}

.footer__menu-sns-button-item:not(:first-child) {
    margin-left: rem(15);
}

.footer__copyright {
    margin-top: rem(40);
    font-size: rem(12);
    font-family: $Gotu-font;
    font-weight: $normal;
    line-height: 1.5;
    color: $white;
    white-space: nowrap;
    text-align: center;
    @include mq("md") {
        font-size: rem(14);
        margin-top: rem(65);
        line-height: 1.428;
    }
}