@use "global" as *;

.information {
    position: relative;
    z-index: -2;
    background-color: $lightblue2;
    padding-top: rem(80);
    padding-bottom: rem(87);
    @include mq("md") {
        padding-top: rem(100);
    }
}

.information__container {
    margin-top: rem(35);
    @include mq("md") {
        margin-top: rem(50);
    }
}