@use "global" as *;

.information {
    background-color: $lightblue2;
    margin-top: rem(70);
    padding-bottom: rem(90);
    @include mq("md") {
       margin-top: rem(150);
    }
}

.information__container {
    margin-top: rem(35);
    @include mq("md") {
        margin-top: rem(50);
    }
}