@use "global" as *;

.mv {
    width: 100%;
    height: 100vh;
    min-height: rem(400);
  }

  .mv__inner {
    position: relative;
    height: inherit;
    min-height: inherit;
  }


  .mv__slider {
    min-height: inherit;
    height: inherit;
  }


  .mv__slider img {
    height: inherit;
  }


  .mv__title-wrap.mv-title {
    position: absolute;
    z-index: 10;
    font-weight: $regular;
    color: $white;
    transform: translate(-50%, 50%);
    left: 53%;
    top: 40%;
    @include mq("md") {
      width: 100%;
      top: 34%;
      left: 51.5%;
      text-align: center;
    }
  }

  .mv__title-main {
    font-family: $lato-font;
    font-size: rem(40);
    line-height: 1.2;
    letter-spacing: 0.54em;
    text-transform: uppercase;
    font-weight: $normal;

    @include mq("md") {
      width: 100%;
      font-size: rem(80);
      line-height: 1.3;
    }
}

.mv__title-sub {
  position: absolute;
  font-family: $Gotu-font;
  font-weight: $normal;
  font-size: rem(20);
  line-height: 1.7;
  left: 19%;
  @include mq("md") {
    left: -1.5%;
    text-align: center;
    width: 100%;
  }
}

.mv--lower {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: rem(460);

  @include mq("md") {
    height: rem(548);
  }
}