@use "global" as *;

.contact {

}

// .contact__inner {

// }

.contact__title-main {
   width: rem(295);
   text-align: center;
   border-bottom: 1px solid $lightblue;
}


.contact__title-main img {
    display: inline-block;
    max-width: rem(174);
}