@use "global" as *;

// .contact {

// }

.contact__inner.inner {
    padding-right: rem(30);
    padding-left: rem(30);
    @include mq("md") {
        display: flex;
        justify-content: center;
        box-shadow: rem(4) rem(4) rem(10) rgba(0, 0, 0, .25);
        padding-right: rem(25);
        padding-left: rem(25);
    }
}

.contact__container-main {
    width: rem(295);
    text-align: center;
    @include mq("md") {
        width: rem(440);
        padding: rem(80) 0;
    }
}


.contact__address-item,
.contact__img img,
.contact__title-main--large.title-main,
.contact__title-sub.title-sub,
.contact__form-text {
    text-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, .25);
    @include mq("md") {
        text-shadow: none;
    }
}

.contact__form-button,
.contact__title-img::after,
.contact__img-concept  {
    box-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, .25);
    @include mq("md") {
        box-shadow: none;
    }
}

.contact__form-button {
    display: inline-block;
}


.contact__container {
    width: 50%;
    display: inline-block;
    text-align: center;
}

.contact__title-main--large.title-main {
    text-align: center;
}

.contact__title-img{
    position: relative;
}

.contact__title-img::after{
    position: absolute;
    content: "";
    display: block;
    width: rem(295);
    height: rem(1);
    background-color: $lightblue;
    @include mq("md") {
        width: rem(440);
    }
}



.contact__title-img img{
    display: inline-block;
    max-width: rem(174);
    filter:drop-shadow( rem(0) rem(4) rem(4) rgba(0, 0, 0, .25));
    @include mq("md") {
        max-width: rem(200);
        filter: none;
    }
}

.contact__address-container {
    @include mq("md") {
        display: flex;
    }
}

.contact__address {
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
    font-weight: $regular;
    color: $blue;
    margin-top: rem(16);
    width: 100%;
    
}


.contact__img-concept {
    display: inline-block;
    margin-top: rem(16);
    width: rem(273);
    height: rem(160);
    object-fit: cover;
    @include mq("md") {
        margin-top: rem(24);
        height: rem(148);
        
    }
}

.contact__img-concept img {
    width: rem(273);
    height: rem(160);
    @include mq("md") {
        height: rem(148);
    }
}

.contact__title-main--large.title-main{
    font-size: rem(80);
    line-height: 1;
}

.contact__container-sub {
    width: rem(315);
    margin-top: rem(40);
    text-align: center;
    @include mq("md") {
        width: 50%;
        margin-top: 0;
        padding:rem(100) 0;
    }
}

.contact__form-text {
    font-size: rem(14);
    font-weight: $regular;
    line-height: 1.826;
    color: $lightblue;
    margin-top: rem(8);
}

.contact__form-button {
    margin-top: rem(40);
}