@use "global" as *;


.drawer {
    position: fixed;
    padding: rem(200) 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $lightblue;
    z-index: 1000;
    
}

.drawer__nav-inner {
        margin-right: auto;
        margin-left: auto;
        padding-right: rem(15);
        padding-left: rem(15);
}