@use "global" as *;


.drawer {
    position: fixed;
    padding: rem(200) 0;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: $lightblue;
    z-index: 1000;
    transition: all 0.3s;
    @include mq("md") {
        display: none;
    }
}

.drawer__nav-inner {
        margin-right: auto;
        margin-left: auto;
        padding-right: rem(15);
        padding-left: rem(15);
}