@use "global" as *;


.menu__nav-items {
    display: flex;
    flex-direction: column;
    font-size: rem(16);
    line-height: 1.125;
    color: $white;
    font-family: $base-font-family;
}

.menu__nav-container-first,
.menu__nav-container-second {
    
}

.menu__nav-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: rem(40);
    gap: rem(24);
}

.menu__nav-item-main {
    display: block;
    margin-left: rem(4);
    font-weight: $bold;
}

.menu__nav-item-main::before {
    content: url(../images/common/hitode.svg);
    margin-right: rem(4);
}