@use "global" as *;


.mv {
    width: 100%;
    height: 100vh;
    min-height: rem(400);
  }
  
  .mv--lower {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: rem(460);

    @include mq("md") {
      height: rem(548);
    }
  }

  .mv__inner {
    position: relative;
    height: inherit;
  }
  
  .mv__slider,
  .swiper-slide picture,
  .swiper-slide img {
    min-height: rem(400);
    height: inherit;
  }
  
  .swiper-slide img {
    min-height: rem(400);
    object-fit: cover;
  }
  
  .mv__title-wrap {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    
    @include mq("md") {
      top: 52%;
      left: 58%;
    }
  }

  .mv__title-contact-main,
  .mv__title-contact-sub {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 22%;

    @include mq("md") {
      top: 53%;
      left: 15%;
      transform: translate(-50%, -50%);
    }
  }

  .mv__title-main {
    font-size: 38px;
    line-height: 1.526;
    letter-spacing: 0.05em;

    @include mq("md") {
      font-size: 28px;
      line-height: 1.428;
      letter-spacing: 0%;
    }
}