@use "global" as *;

.circle {
    width: 100px;
    height: 100px;
    border: 2px solid #007a8e;
    border-radius: 50%; /* 円形にする */
    display: flex;
    justify-content: center;
    align-items: center;
}