@use "global" as *;

.button {
    color: $white;
    font-size: rem(14);
    font-weight: $re;
    font-family: $Gotu-font;
    background-color: $lightblue;
}

.button::before {
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: -25px;
    right: -25px;
    z-index: -1;
    border: solid 1px $lightblue;
}
.button a {
        display: inline-block;
        position: relative;
        padding: rem(15);
        font-family: $Gotu-font;
    }
