@use "global" as *;

.button {
    display: inline-block;
    position: relative;
    text-align: left;
    width: rem(202);
    color: $white;
    font-size: rem(14);
    padding: rem(14) rem(30);
    line-height: 1.57142;
    font-weight: $regular;
    font-family: $Gotu-font;
    background-color: $lightblue;
    border: solid 1px $lightblue;
    transition: .3s;
}

.button::before {
    content: "";
    position: absolute;
    text-align: right;
    background-color: $white;
    border: solid 1px $lightblue;
    bottom: -4px;
    left: 4px;
    right: -4px;
    top: 4px;
    z-index: -1;
}

.button__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button__container img {
    width: rem(40);
    margin-left:rem();
    padding-bottom: 5px;
}


.button a.button__arrow:hover::after{
    content: url(../images/common/Vector-green.svg);
}

// .button::after {
    
// }




.button--transparent::before {
    @include mq("md") {
        background-color: transparent;
    }
}