@use "global" as *;

.

.button a {
        display: inline-block;
        position: relative;
        padding: rem(15);
        color: red;
        background-color: $lightblue;
        font-family: $Gotu-font;
    }

    .button::before {
        position: absolute;
        top: -25px;
        bottom: -25px;
        left: -25px;
        right: -25px;
        z-index: -1;
        border: solid 1px $lightblue;
}