@use "global" as *;

.button {
    display: inline-block;
    position: relative;
    width: rem(202);
    color: $white;
    font-size: rem(14);
    padding: rem(14) ;
    font-weight: $regular;
    font-family: $Gotu-font;
    background-color: $lightblue;
}

.button::before {
    content: "";
    position: absolute;
    background-color: $white;
    border: solid 1px $lightblue;
    bottom: -4px;
    left: 4px;
    right: -4px;
    top: 4px;
    z-index: -1;
}

.button::after {
    content: "";
    display: block;
    border-bottom: 1px solid ＄;
    border-right: 1px solid #000;
    transform: skew(45deg);
    background-color: $white;
}
