@use "global" as *;

.button {
    display: inline-block;
    width: rem(202);
    color: $white;
    font-size: rem(14);
    font-weight: $regular;
    font-family: $Gotu-font;
    background-color: $lightblue;
    padding: rem(14) ;
}

.button::before {
    position: absolute;
    top: -25px;
    bottom: -25px;
    left: -25px;
    right: -25px;
    z-index: -1;
    border: solid 1px $lightblue;
}

.button::after {
    
}
.button a {
    
    }
