@use "global" as *;

.button {
        display: inline-block;
        position: relative;
        padding: 5px;
        border: solid 5px #4682b4;

      .double_line::before {
        content: "";
        position: absolute;
        top: -25px;
        bottom: -25px;
        left: -25px;
        right: -25px;
        border: solid 5px #4682b4;
        z-index: -1;
      }
}

.button::before {
    
}