@use "global" as *;

.card {
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, .25);
    width: rem(333);
}

.card__container {
    width: 100%;
    padding: rem(16);
}

.care

.card__content img {
    aspect-ratio: 201 / 301;
    height: auto;
    object-fit: cover;
}

.card__block-text {
    margin-top: rem(24);
}

.card__block-date {
    color: $blue;
    font-family: $Gotu-font;
    font-weight: $regular;
    text-align: left;
    font-size: rem(12);
    line-height: 1.5;
}

.card__block-subtext,
.card__block-title {
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
}

.card__block-title {
    border-bottom: 1px solid $lightblue;
    font-weight: $medium;
    color: $blue;
}


.card__block-subtext {
    font-weight: $regular;
    color: $black;
}