@use "global" as *;

.card {
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, .25);
}

.card__container {
    padding: rem(16);
}

.card__content img {
    height: rem(201);
    width: rem(301);
    object-fit: cover;
}

.card__block-date {
    font-family: $;
    font-weight: $regular;
}

.card__text-block {
    margin-top: rem(24);
}