@use "global" as *;

.circle__button {
    position: relative;
    width: rem(48);
    height: rem(48);
    border: 1px solid $lightblue;
    border-radius: 50%;
    z-index: 999;
}

.circle__button::after {
    position: absolute;
    content: url(./assets/images/common/Vector.svg);
}