@use "global" as *;

.dive {
    margin-top: rem(38);
}

.dive__inner {
    padding: rem(14);
}

.dive__img-container {
    margin-top: rem(24);
    padding-top: rem(26);
}

.dive__img-main {
    width: rem(281);
    height: rem(186);
    object-fit: cover;
    margin-left: auto;
}

.dive__img-main img {
    aspect-ratio: 281 / 186;
    z-index: 1;
}

.dive__img-sub {
    width: rem(128);
    height: rem(194);
    object-fit: cover;
    margin-top: rem(-211);
}

.dive__img-sub img {
    aspect-ratio: 128 / 194;
    z-index: -1;
}

.dive__text-container {
    margin-top: rem(50);
}

.dive__text-container-title {
    font-family: $Gotu-font;
    font-weight: $regular;
    font-size: rem(40);
    line-height: 1;
    color: $lightblue;
}

.dive__text-container-subtext {
    margin-top: rem(16);
}

.dive__button {
    
}