@use "global" as *;

.dive {
    margin-top: rem(38);
}

.dive__inner.inner {
    // position: relative;
    padding: rem(14);
    @include mq("md") {
        max-width: rem(1100);
    }
}

.dive__img-container {
    position: relative;
    margin-top: rem(90);

    @include mq("md") {
        z-index: 1;
        padding: rem(30);
        margin-top: rem(120);
        max-width: rem(1080);
    }
}

.dive__img-main {
    position: relative;
    margin-left: auto;
    @include mq("md") {
        width: 81.5%;
    }
}

.dive__img-main img {
    aspect-ratio: 281 / 186;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 880 / 581;
    }
}

.dive__img-sub {
    position: absolute;
    object-fit: cover;
    margin-top: rem(-211);
    @include mq("md") {
        width: 34.9%;
        top: 0;
        left: rem(10);
        z-index: 1;
        margin-top: rem(-50);
    }
}

.dive__img-sub img {
    aspect-ratio: 128 / 194;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 400 / 608;
    }
}

.dive__text-container {
    position: absolute;
    margin-top: rem(50);
    z-index: 100;
    @include mq("md") {
        display: flex;
        top: 8%;
        left: 17%;
        max-width: 52.5rem;
    }
}

.dive__text-container-title {
    font-family: $Gotu-font;
    font-weight: $regular;
    font-size: rem(40);
    line-height: 1;
    margin-right: rem(40);
    color: $lightblue;
    @include mq("md") {
        font-size: rem(80);
        padding-top: rem(10);
        line-height: 1.25;
        color: $white;
    }
}

.dive__container-sub {
    font-weight: $regular;
    @include mq("md") {
        width: rem(400);
        color: $white;
    }
}

.dive__container-sub-subtext {
    width: rem(400);
    font-weight: $regular;
    margin-top: rem(16);
    @include mq("md") {
        font-size: rem(16);
    }
}

.dive__container-subbutton {
    text-align: center;
    margin-top: rem(50);
    background-color: tr;
}