@use "global" as *;

.hamburger {
    position: relative;
    width: ;
    z-index: 9999;
}

.hamburger span {
    position: absolute;
    background-color: $white;
}

.hamburger span:nth-child(1) {
    top: 0;
}