@use "global" as *;

.hamburger {
    position: relative;
    width: rem(32);
    height: rem(24);
    z-index: 9999;
}

.hamburger span {
    position: absolute;
    background-color: $white;
    width: rem(32);
    height: rem(1);
    top: rem(30);
}

.hamburger span:nth-child(1) {
    top: 0;
}