@use "global" as *;

.header {
    position: fixed;
    height: rem(90);
    background-color: rgba(13, 41, 54, 0.68);
    width: 100%;
}

.header__inner {
    max-width: rem(1400);
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.header__nav.header__nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.header__nav-item li{
    height: inherit;
}

.header__nav-link
    display: inline-block;
    padding: 0 rem(20);
    height: inherit;
    color: $white;
}


