@use "global" as *;

.header {
    position: fixed;
    height: rem(90);
    background-color: rgba(13, 41, 54, 0.68);
    width: 100%;
}

.header__inner {
    max-width: rem(1400);
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.header__nav.header__nav-items {
    display: flex;
    height: inherit;
}

.header__nav-item {

}
