@use "global" as *;

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: rem(90);
    background-color: rgba(13, 41, 54, 0.68);
    width: 100%;
}

.header__inner {
    max-width: rem(1420);
    padding-left: rem(40);
    display: flex;
    justify-content: space-between;
    height: inherit;
}

.header__logo {
    display: inline-block;
    height: inherit;
}

.header__logo img{
    height: inherit;
    max-width: rem(133);
}

.header

padding: rem(20);
.header__nav.header__nav-items {
    display: flex;
    height: inherit;
}

.header__nav-item {
    height: inherit;
}

.header__nav-link {
    display: flex;
    color: $white;
    font-family: $base-font-family;
    font-size: rem(10);
    line-height: 1;
    padding: rem(27) rem(20);
    flex-direction: column;
    text-align: center;
    font-weight: $regular;
}

.header__nav-link--large {
    text-transform:uppercase;
}

.header__nav-link span{
    margin-bottom: rem(4);
    text-align: center;
    text-transform:capitalize;
    font-size: rem(18);
    line-height: 1;
    font-family: $Gotu-font;
}