@use "global" as *;

.tariff {
    width: rem(280);
    box-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, .25);
    @include mq("md") {
        width: rem(333);
    }
}


.tariff__img img {
    width: rem(280);
    height: rem(365);
    @include mq("md") {
        width: rem(333);
        height: rem(445);
        object-fit: cover;
    }
}

.tariff__container {
    padding: rem(20) rem(16);
    @include mq("md") {
        padding: rem(30) rem(16);
    }
}

.tariff__textbox {
    text-align: left;
    border-bottom: 1px solid $lightblue;
}

.tariff__textbox-maintitle {
    display: inline-block;
    font-weight: $regular;
    font-family: $base-font-family;
    color: $lightblue;
    padding: rem(4) rem(12);
    font-size: rem(12);
    line-height: 1.83333;
    border: 1px solid $lightblue;
    
    @include mq("md") {
        padding: rem(6) rem(16);
    }
}

.tariff__textbox-subtitle {
    font-size: rem(16);
    padding-top: rem(4);
    padding-bottom: rem(4);
    line-height: 1.5;
}

.tariff__money {
    text-align: center;
    margin-top: rem(8);
    padding: 0 rem(44);
}

.tariff__money-title {
    font-weight: $regular;
    font-family: $base-font-family;
    font-size: rem(14);
    line-height: 1.7412;
    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
    }
}

.tariff__money-price-container {
    display: flex;
    margin-top: rem(8);
    align-items: center;
    justify-content: center;
}

.tariff__money-price-discount {
    font-size: rem(20);
    text-decoration: line-through;
    text-decoration-color: $red;
    margin-right: rem(16);
    font-family: $lato;
    font-weight: $bold;
    @include mq("md") {
        font-size: rem(24);
    }
}

.tariff__money-price-main {
    font-size: rem(32);
    font-family: $lato;
    font-weight: $bold;
    color: $lightblue;
    @include mq("md") {
        font-size: rem(40);
    }
}

