@use "global" as *;

.swiper-slide picture,
.swiper-slide img {
  min-height: rem(400);
  object-fit: cover;
}

.swiper-slide

.swiper-container {
    width: 100%;
    height: 100%;
}

.prev, .next {
background-color: rgba(0,0,0,0.5);
color: white;
font-size: 18px;
padding: 8px;
cursor: pointer;
user-select: none;
}

/* コントロールをホバーしたときのスタイル */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}
