@use "global" as *;

.tariff__content {
    width:  100%;
    box-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, .25);
    @include mq("md") {
        width: rem(333);
    }
}


.tariff__content-img img {
    
    @include mq("md") {
        width: rem(333);
        height: rem(223);
        object-fit: cover;
    }
}

.tariff__container {
    padding: rem(20) rem(16);
 }

.tariff__money {
    text-align: center;
    margin-top: rem(8);
    padding: 0 rem(44);
}

.tariff__money-title {
    font-weight: $regular;
    font-family: $base-font-family;
    font-size: rem(14);
    line-height: 1.7412;
    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
    }
}

.tariff__money-price-container {
    display: flex;
    margin-top: rem(8);
    align-items: center;
    justify-content: center;
}

.tariff__money-price-discount {
    font-size: rem(20);
    text-decoration: line-through;
    text-decoration-color: $red;
    margin-right: rem(16);
    padding-top: rem(11);
    font-family: $lato-font;
    font-weight: $bold;
    @include mq("md") {
        padding-top: rem(16);
        font-size: rem(24);
        margin-right: rem(25);
    }
}

.tariff__money-price-main {
    font-size: rem(32);
    font-family: $lato-font;
    font-weight: $bold;
    color: $lightblue;
    @include mq("md") {
        font-size: rem(40);
    }
}



