@use "global" as *;

.text {
    font-weight: $regular;
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
}

.text__container {
    padding: rem(16);
    @include mq("md") {
        padding: rem(24);
    }
}

.text-box {
    text-align: left;
    border-bottom: 1px solid $lightblue;
}

.text-box-maintitle {
    display: inline-block;
    font-weight: $regular;
    font-family: $base-font-family;
    color: $lightblue;
    padding: rem(4) rem(12);
    font-size: rem(12);
    line-height: 1.83333;
    border: 1px solid $lightblue;
    @include mq("md") {
        padding: rem(6) rem(16);
    }
}

.text-box-subtitle {
    font-family: $base-font-family;
    font-weight: $medium;
    color: $blue;
    font-size: rem(16);
    line-height: 1.5;
}