@use "global" as *;

.text {
    font-weight: $regular;
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
}

.text__container {
    padding: rem(24);
}

.text-box {

}

.text-box-maintitile {

}

.text-box-subtitle {

}