@use "global" as *;

.title  span{
    
}

.title-main {
    font-size: rem(32);
    line-height: 1.25;
    text-decoration: capitalize;
    @include mq("md") {
        font-size: rem(40);
        line-height: 1;
    }
}


