@use "global" as *;

.voice {
    width: rem(345);
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, .25);
    @include mq("md") {
        width: rem(520);
    }
}

.voice__card-container {
    @include mq("md") {
        padding: rem(24);
    }
}

.voice__text-container {
    display: flex;
    align-items: flex-end;
    @include mq("md") {
        justify-content: center;
        align-items: center;

    }
}

.voice__text-box.text-box {
    display: flex;
    flex-direction: column;
    width: rem(149);
    @include mq("md") {
        width: rem(276);
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}

.voice__profile {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue;
    @include mq("md") {
        width: rem(60);
    }
}
.voice__text-box-maintitle {
    width: rem(108);
    white-space: nowrap;
    @include mq("md") {
        width: rem(116);
        margin-left: auto;
    }
}

.voice__card-content {
    width: rem(151);
    height: rem(117);
    margin-left: rem(13);
    @include mq("md") {
        width: rem(180);
        height: rem(140);
        margin-left: rem(16);
    }
}

.voice__card-content img{
    width: rem(151);
    height: rem(117);
    object-fit: cover;
    @include mq("md") {
        width: rem(180);
        height: rem(140);
    }
}

.voice__block-subtext {
    margin-top: rem(16);
}
