@use "global" as *;

.voice {
    width: rem(345);
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, .25);
    @include mq("md") {
        width: rem(520);
    }
}

.voice__card-container {
    @include mq("md") {
        padding: rem(24);
    }
}

.voice__text-container {
    display: flex;
    align-items: center;
}

.voice__text-box.text-box {
    display: flex;
    flex-direction: column;
    width: rem(149);
}

.voice__text-box-maintitle {
    width: rem(108);
}



.voice__profile {
    font-size: rem(12);
    font-weight: $regular;
    font-family: $base-font-family;
    color: $blue;
}