@use "global" as *;

.dive__inner.inner {
    @include mq("md") {
        max-width: rem(1340);
    }
}

.dive__img-container {
    position: relative;
    margin-top: rem(60);

    @include mq("md") {
        z-index: 1;
        padding: rem(10);
        margin-top: rem(120);
    }
}

.dive__img-main {
    position: relative;
    margin-left: auto;
    width: 81.5%;
    @include mq("md") {
        width: 70.3%;
        left: 23%;
        margin-left: 0;
    }
}

.dive__img-main img {
    aspect-ratio: 281 / 186;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 880 / 581;
    }
}

.dive__img-sub {
    position: absolute;
    width: 26%;
    top: -4%;
    width: 36.4%;
    object-fit: cover;
    @include mq("md") {
        left: 8%;
        top: -12%;
        width: 31.2%;
        z-index: 1;
    }
}

.dive__img-sub img {
    aspect-ratio: 128 / 194;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 400 / 608;
    }
}

.dive__text-container {
    margin-top: rem(40);
    z-index: 100;
    width: 100%;
    @include mq("md") {
        display: flex;
        left: 23%;
        position: absolute;
        top: 12%;
        width: calc(825 / 1080  *100%);
    }
}

.dive__text-container-title {
    font-family: $Gotu-font;
    font-weight: $normal;
    font-size: rem(40);
    line-height: 1;
    color: $lightblue;
    @include mq("md") {
        max-width: rem(400);
        font-size: rem(80);
        padding-top: rem(10);
        line-height: 1.25;
        color: $white;
    }
}

.dive__container-sub {
    font-weight: $normal;
    @include mq("md") {
        width: rem(400);
        color: $white;
    }
}

.dive__container-sub-subtext {
    font-weight: $bold;
    margin-top: rem(16);
    @include mq("md") {
        width: rem(400);
        font-size: rem(16);
        color: $white;
    }
}


.dive__bg-img {
    display: none;
    @include mq("md") {
        position: absolute;
        z-index: 100;
        display: inline-block;
        left: 85%;
        top: 87%;
        width: calc(181 / 1177 *100%);
    }
}