@use "global" as *;

.tab-campaign__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    column-gap: rem(32);
    row-gap: rem(16);
    @include mq("md") {
        display: flex;
        position: relative;
        z-index: 100;
        column-gap: rem(32);
    }
}

.tab-campaign__button button {
    cursor: pointer;
}

.tab-campaign__button {
    border: 1px solid $lightblue;
    color: $lightblue;
    background-color: $white;
    width: 100%;
    font-size: rem(14);
    padding: rem(4) rem(12.8);
    line-height: 1.5714;
    writing-mode: horizontal-tb;
    transition: all .3s;
    @include mq("md") {
        width: 15%;
    }
}

.tab-campaign__button:hover {
    background-color: $lightblue;
    color: $white;
}

.tab-campaign__button.is-active {
    background-color: $lightblue;
    color: $white;
    display: block;
  }


.tab-campaign__contents {
    margin-top: rem(45);
}


.tab-campaign__contents-content.is-active {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: rem(52);
    background-color: $white;
    margin-right: auto;
    margin-left: auto;
    max-width: 80%;
    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        column-gap: rem(40);
        row-gap: rem(80);
        max-width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
.tab-campaign__contents-content {
    display: none;
}

.tab-campaign__container {
    background-color: $white;
}


.tab-campaign__container-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: rem(16);
    padding-right: rem(16);
    padding-left: rem(16);
    padding-bottom: rem(24);
    height: auto;
    @include mq("md") {
        padding-top: rem(24);
        padding-right: rem(24);
        padding-left: rem(24);
        padding-bottom: rem(40);
    }
}

.tab-campaign__content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.tab-campaign__card {
    display: block;
    background-color: $white;
    box-shadow: rem(4) rem(4) rem(10) rgba(0, 0, 0, .25);
}


.tab-campaign__img img {
    min-height: auto;
    height: auto;
    width: 100%;
    aspect-ratio: 296 / 188;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 333 / 223;
    }
  }

.tab-campaign__button-container {
    @include mq("md") {
        position: absolute;
        right: 15%;
        top: 4%;
        width: rem(240);
    }
}

.tab-campaign__money {
    margin-top: rem(8);
}

.tab-campaign__text-box-maintitle {
    display: inline-flex;
    font-weight: $normal;
    font-family: $base-font-family;
    color: $lightblue;
    min-width: rem(120);
    padding: rem(4) rem(12);
    font-size: rem(12);
    line-height: 1.83333;
    border: 1px solid $lightblue;
    @include mq("md") {
        padding: rem(6) rem(16);
    }
}

.tab-campaign__text-box-subtitle {
    margin-top: rem(4);
    font-family: $base-font-family;
    font-weight: $medium;
    color: $blue;
    font-size: rem(16);
    line-height: 1.5;
    border-bottom: 1px solid $lightblue;
    padding-bottom: rem(8);
    @include mq("md") {
        font-size: rem(24);
        line-height: 1.458;
        padding-bottom: rem(4);
    }
}

.tab-campaign__money {
    margin-top: rem(8);
    text-align: center;
    @include mq("md") {
        margin-top: rem(24);
        z-index: 10;
    }
}

.tab-campaign__money-title {
    color: $blue;
    font-family: $base-font-family;
    font-weight: $normal;
    font-size: rem(14);
    line-height: 1.714285;
    @include mq("md") {
        font-size: rem(16);
        line-height: 1.5;
    }

}

.tab-campaign__fee {
    display: flex;
    margin-top: rem(8);
    align-items: center;
    justify-content: center;
}

.tab-campaign__discount {
    font-size: rem(20);
    text-decoration: line-through;
    text-decoration-color: $red;
    color: $blue;
    margin-right: rem(16);
    padding-top: rem(11);
    font-family: $lato-font;
    font-weight: $bold;
    line-height: 1;
    @include mq("md") {
        padding-top: rem(16);
        font-size: rem(24);
        margin-right: rem(40);
    }
}

.tab-campaign__main {
    font-size: rem(32);
    line-height: 1;
    font-family: $lato-font;
    font-weight: $bold;
    color: $lightblue;
    @include mq("md") {
        font-size: rem(40);
    }
}

.tab-campaign__text-main {
    @include mq("md") {
        font-family: $base-font-family;
        color: $blue;
        margin-top: rem(24);
        font-size: rem(16);
        line-height: 1.5;
        width: 100%;
        text-align: justify;
    }
}

.tab-campaign__date-container {
    @include mq("md") {
        margin-top: rem(32);
    }
}

.tab-campaign__date-time {
    @include mq("md") {
        font-family: $lato-font;
        font-weight: $bold;
        color: $lightblue;
        font-size: rem(16);
        line-height: 1.125;
    }
}

.tab-campaign__date-text {
    @include mq("md") {
        margin-top: rem(7);
        font-family: $base-font-family;
        font-weight: $normal;
        color: $lightblue;
        font-size: rem(14);
        line-height: 1.286;
    }
}

.tab-campaign__form-button {
    @include mq("md") {
        margin-top: rem(16);
    }
}