@use "global" as *;

.tab-information__list {
    display: flex;
    gap: rem(19);
    @include mq("md") {
        position: relative;
        gap: rem(90);
        z-index: 100;
    }
}

.tab-information__button button {
    cursor: pointer;
}

.tab-information__button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $lightblue;
    background-color: $lightblue2;
    width: 100%;
    font-size: rem(14);
    padding: rem(10) rem(15);
    line-height: 1.4285;
    writing-mode: horizontal-tb;
    transition: all .3s;
    gap: rem(20);
    box-shadow: rem(2) rem(2) rem(4) rgba(0, 0, 0, .25);
    @include mq("md") {
        line-height: 1.4583;
        white-space: nowrap;
        padding: rem(8) rem(20);
        font-size: rem(24);
        box-shadow: none;
    }
}

.tab-information__button::before {
    @include mq("md") {
    position: relative;
    z-index: 2;
    content: url(../images/common/fish-1-pc.svg);
    width: rem(40);
    left: -5%;
    padding-bottom: rem(12);
    }
}

.tab-information__button:hover::before{
    @include mq("md") {
    position: relative;
    z-index: 2;
    content: url(../images/common/fish-1-white.svg);
    width: rem(40);
    left: -5%;
    padding-bottom: rem(12);
    }
}


.tab-information__button.is-active::before {
    @include mq("md") {
    position: relative;
    z-index: 10;
    content: url(../images/common/fish-1-white.svg);
    width: rem(40);
    left: -5%;
    padding-bottom: rem(12);
}
}



.tab-information__button:hover {
    background-color: $lightblue;
    box-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, .25);
    color: $white;
}

.tab-information__button.is-active {
    background-color: $lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    box-shadow: rem(0) rem(4) rem(4) rgba(0, 0, 0, .25);
}



.tab-information__contents {
    margin-top: rem(16);
    @include mq("md") {
        margin-top: rem(24);
    }
}

.tab-information__contents-content {
    display: none;
}

.tab-information__contents-content.is-active {
    display: inline-block;
    border: 1px solid $lightblue;
    padding: rem(24);
}

.tab-information__card {
    display: inline-block;
}

.tab-information__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: rem(8);
    @include mq("md") {
        flex-direction: row;
        gap: rem(50);
    }
}


.tab-information__img {
    position: relative;
    width: 100%;
    height: auto;
    @include mq("md") {
        width: rem(492);
    }
}

.tab-information__img img{
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 297 / 189;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 540 / 356;
    }
}

.tab-information__text-container {
    display: block;
    text-align: left;
    width: 100%;
    color: $blue;
    @include mq("md") {
        width: rem(492);
    }
}

.tab-information__title-sub {
    font-family: $base-font-family;
    font-size: rem(24);
    line-height: 1;
    color: $blue;
    font-weight: $bold;
    border-bottom: 1px solid $lightblue;
    padding-bottom: rem(4);
    @include mq("md") {
        line-height: 1;
        padding-bottom: rem(8);
        font-size: rem(24);
    }
}

.tab-information__text {
    margin-top: rem(10);
    font-weight: $normal;
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
    color: $black;
}