@use "global" as *;

.voice {
    padding-top: rem(45);
    padding-bottom: rem(80);
    @include mq("md") {
        padding-top: rem(105);
        padding-bottom: rem(150);
    }
}

.voice__inner.inner {
    position: relative;
    @include mq("md") {
        max-width: rem(1130);
    }
}

.voice__img-fish-main {
    display: none;
    @include mq("md") {
        position: absolute;
        z-index: 100;
        display: inline-block;
        left: calc(50% - min(48vw, 39rem));
        top: -41%;
        width: calc(400 / 1440 *100%);
    }
}

.voice__img-fish-sub {
    display: none;
    @include mq("md") {
        position: absolute;
        z-index: 100;
        display: inline-block;
        right: calc(50% - min(48vw, 34rem));
        top: 83%;
        width: calc(98 / 1440 *100%);
    }
}

.voice__container {
    margin-top: rem(45);
    display: grid;
    justify-content: center;
    align-items: center;
    @include mq("md") {
        margin-top: rem(40);
    }
}

.voice__cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: rem(30);
    @include mq("md") {
        grid-template-columns: repeat(2, 1fr);
        gap: rem(30);
    }
}

.voice-card {
    position: relative;
    // width: rem(345);
    max-width: 100%;
    box-shadow: rem(2) rem(2) rem(10) rgba(0, 0, 0, .25);
    @include mq("md") {
        // width: rem(520);
    }
}


.voice__card-container {
    padding-top: rem(16);
    padding-right: rem(16);
    padding-left: rem(16);
    padding-bottom: rem(24);
    @include mq("md") {
        padding: rem(24);
    }
}

.voice__text-container {
    display: flex;
    align-items: flex-end;
}

.voice__text-box.text-box {
    display: flex;
    flex-direction: column;
    width: rem(149);
    @include mq("md") {
        width: rem(280);
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}

.voice__text-box-subtitle {
    padding-top: rem(4);
    padding-bottom: rem(4);

}

.voice__profile {
    font-size: rem(12);
    font-weight: $normal;
    font-family: $base-font-family;
    color: $blue;
    @include mq("md") {
        width: rem(60);
    }
}

.voice__text-box-maintitle {
    display: inline-flex;
    max-width: rem(120);
    white-space: nowrap;
    @include mq("md") {
        width: rem(116);
        margin-left: auto;
    }
}

.voice__text-box-subtitle {
    font-weight: $medium;
    width: rem(149);
    @include mq("md") {
        width: rem(276);
        font-size: rem(24);
    }
}

.voice__card-content {
    position: relative;
    width: 100%;
    margin-left: rem(13);
    @include mq("md") {
        width: rem(180);
        margin-left: rem(16);
    }
}

.voice__card-content img{
    aspect-ratio: 151 / 117;
    display: inline-block;
    width: 100%;
    height: auto;
    object-fit: cover;
    @include mq("md") {
        aspect-ratio: 180 / 140;
    }
}

.voice__block-subtext {
    font-family: $base-font-family;
    font-size: rem(16);
    line-height: 1.5;
    @include mq("md") {
        width: rem(480);
    }
}

.voice__button {
    margin-top: rem(40);
    text-align: center;
    @include mq("md") {
        margin-top: rem(80);
    }
}